* {
    margin: 0;
    padding: 0;
}

header {
    color: white;
    background-image: url(../img/img1.png);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    nav {
        position: absolute;
        top: 30px;
        display: flex;
        align-items: center;
        left: 100px;

        ul {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            display: flex;
            align-items: center;
            gap: 50px;
            list-style: none;
            font-size: 16px;
            cursor: pointer;
        }
    }

    .comfy {
        position: absolute;
        top: 10px;
        left: 700px;
        font-family: "Lugrasimo", cursive;
        font-weight: 400;
        font-style: normal;
        font-size: 50px;
    }

    .shopIcon {
        width: 40px;
        height: 40px;
        position: absolute;
        right: 150px;
        top: 25px;
        cursor: pointer;
    }

    .rest {
        position: absolute;
        top: 250px;
        left: 140px;
        font-family: "Lugrasimo", cursive;
        font-weight: bold;
        font-style: normal;
        font-size: 70px;
    }

    .cntShop {
        z-index: 1;
        position: absolute;
        right: 145px;
        top: 25px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: rgb(173, 102, 2);
        color: white;
        text-align: center;
        margin: auto;
    }

    .embrace {
        position: absolute;
        top: 400px;
        left: 140px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 40px;
    }

    .show {
        position: absolute;
        top: 520px;
        left: 140px;
        background-color: transparent;
        border: 1px solid white;
        color: white;
        padding: 10px 20px;
    }
}

.featured {
    text-align: center;
    margin: 80px 0;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;

    span {
        color: darkorange;
        font-weight: bold;
    }
}

.recDiv {
    display: flex;
    justify-content: space-evenly;

    .prod {
        text-align: center;

        img {
            width: 400px;
            height: 200px;
        }

        .name {
            color: grey;
        }

        .price {
            font-weight: bold;
        }
    }
}

.allProduct {
    margin-left: 670px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 13px 40px;
    border: none;
    background-color: rgb(194, 107, 1);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}
li:hover{
    color: darkgoldenrod;
}