* {
    margin: 0;
    padding: 0;
}

header {
    color: rgb(0, 0, 0);
    width: 100%;
    height: 100px;
    position: relative;

    nav {
        position: absolute;
        top: 30px;
        display: flex;
        align-items: center;
        left: 100px;

        ul {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            display: flex;
            align-items: center;
            gap: 50px;
            list-style: none;
            font-size: 16px;
            cursor: pointer;
        }
    }

    .comfy {
        position: absolute;
        top: 10px;
        left: 700px;
        font-family: "Lugrasimo", cursive;
        font-weight: 400;
        font-style: normal;
        font-size: 50px;
    }

    .shopIcon {
        width: 40px;
        height: 40px;
        position: absolute;
        right: 150px;
        top: 25px;
        cursor: pointer;
    }

    .rest {
        position: absolute;
        top: 250px;
        left: 140px;
        font-family: "Lugrasimo", cursive;
        font-weight: bold;
        font-style: normal;
        font-size: 70px;
    }

    .cntShop {
        z-index: 1;
        position: absolute;
        right: 145px;
        top: 25px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: rgb(173, 102, 2);
        color: white;
        text-align: center;
        margin: auto;
    }
}

.hp {
    color: #235275;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 250px;
    background-color: #F1F5F8;
    position: relative;

    h1 {
        position: absolute;
        top: 90px;
        left: 100px;
    }
}

main{
    font-family: Arial, Helvetica, sans-serif;
    h1{
        text-align: center;
        margin: 70px 0;
        span{
            color: chocolate;
            font-size: 40px;
        }
    }
    div{
        width: 60%;
        margin: auto;
        font-size: 20px;
        color: rgb(141, 139, 139);
        margin-bottom: 40px;
    }
}
a {
    text-decoration: none;
    color: inherit;
}
li:hover{
    color: darkgoldenrod;
}